@import "tailwindcss";



@theme {

  /* todo: common colors */
  --color-primary_color: #000000; 
  --color-hover_color: #db4444; 
  --color-button_one_color: #00ff66; 
  --color-card_bg: #f5f5f5;
 
  --color-white: #ffffff; 
  --color-light_FA:#FAFAFA;
  --color-text_three_color: #7d8184;
  --color-background_one_color: #ffffff; 
  --color-star_color: #ffad33;



  /* todo: font family */

  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}



@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  ul,
  li,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  img {
    vertical-align: middle;
  }

  .container {
  
  margin: 0 auto;
  padding: 0 15px;
}
}
